section.appartments(style="background-image: url('img/Appartments/III.png')")
	.container
		h2.section__title Наши квартиры
		.appartments__inner
			.appartments__item
				img.appartments__photo(src="./img/Appartments/img_1.jpg", alt="Appartments photo")
				p.appartments__txt Лофт — 3 этажа
			.appartments__item
				img.appartments__photo(src="./img/Appartments/img_2.jpg", alt="Appartments photo")
				p.appartments__txt Лофт — 2 этажа
			.appartments__item
				img.appartments__photo(src="./img/Appartments/img_1.jpg", alt="Appartments photo")
				p.appartments__txt Лофт — 3 этажа
			.appartments__item
				img.appartments__photo(src="./img/Appartments/img_2.jpg", alt="Appartments photo")
				p.appartments__txt Лофт — 2 этажа
