section.contact(style="background-image: url('img/contact/contact-bg.jpg')")
	.container
		h2.section__title Хотите посмотреть?
		.contact__inner
			.contact__column
				p.contact__txt Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов.
			.contact__column
				form.form(action="" method="POST" enctype="multipart/form-data" novalidate)
					input.form__input#name(type="text" name="username" value="" placeholder="Ваше имя" required)
					input.form__input#phone(type="text" name="phone" value="" placeholder="Ваш телефон" required)
					p.form__txt *Мы&nbsp;никому не&nbsp;передаем ваши данные. И&nbsp;не&nbsp;сохраняем ваш номер в&nbsp;базу.
					button.form__btn(type="submit") Посмотреть район


