footer.footer#footer(style="background-color: #2D343C")
	.container
		.footer__inner
			a.footer__logo(href="#")
				img(src="./img/Footer/logo-footer.svg", alt="")
			ul.footer__list
				li.footer__item 
					a.footer__link(href="") О комплексе
				li.footer__item 
					a.footer__link(href="") Район
				li.footer__item 
					a.footer__link(href="") Каталог квартир
				li.footer__item 
					a.footer__link(href="") Ипотека
				li.footer__item 
					a.footer__link(href="") Контакты
			ul.footer__list
				li.footer__item 
					a.footer__link(href="") О комплексе
				li.footer__item 
					a.footer__link(href="") Район
				li.footer__item 
					a.footer__link(href="") Каталог квартир
				li.footer__item 
					a.footer__link(href="") Ипотека
				li.footer__item 
					a.footer__link(href="") Контакты
			ul.footer__list
				li.footer__item Адрес: 
					a.footer__link(href="https://goo.gl/maps/8N2CDeuzFC92Vjrk7" target="_blank") Наб. реки Фонтанки 10-15
				li.footer__item Телефон: 
					a.footer__link(href="tel:88121234567" style = "color: #D4C17F") 8 (812) 123-45-67
				li.footer__item 
					a.footer__link(href="") Отдел продаж: 10:00 - 20:00
				li.footer__item E-mail: 
					a.footer__link(href="mailto:vip@housevip.ru" style = "color: #D4C17F") vip@housevip.ru
				li.footer__item 
					ul.footer__social
						li.footer__social_item
							a.footer__social_link(href="#" target="_blank")
								svg.footer__social_icon.icon-youtube
									use(xlink:href="#youtube")
						li.footer__social_item
							a.footer__social_link(href="#" target="_blank")
								svg.footer__social_icon.icon-vk
									use(xlink:href="#vk")
						li.footer__social_item
							a.footer__social_link(href="#" target="_blank")
								svg.footer__social_icon.icon-facebook
									use(xlink:href="#facebook")
						li.footer__social_item
							a.footer__social_link(href="#" target="_blank")
								svg.footer__social_icon.icon-instagram
									use(xlink:href="#instagram")
