section.intro(style="background-image: url('img/Intro/intro-bg.jpg')")
	.container
		.intro__inner
			h1.intro__title Жилой комплекс в&nbsp;историческом центре
			a.intro__btn(href="#")
				span
			.intro__box
				a.intro__contact.icon-map(href="https://goo.gl/maps/8N2CDeuzFC92Vjrk7" target="_blank") Наб. реки Фонтанки 10-15
				a.intro__contact.icon-phone(href="tel:88121234567") 8 (812) 123-45-67