section.maps(style="background-image: url('./img/Maps/V.png')")
	.container
		.maps__inner
			h2.section__title Район на карте
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207446.2481881355!2d139.60078038831173!3d35.66844146514209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2z0KLQvtC60LjQviwg0K_Qv9C-0L3QuNGP!5e0!3m2!1sru!2sua!4v1649003009784!5m2!1sru!2sua" width="1110" height="405" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>