section.testimonials(style="background-image: url('img/Testimonials/II.png')")
	.container
		.testimonials__inner
			.testimonials__item
				svg.testimonials__icon
					use(xlink:href="#bench")
				p.testimonials__text Рядом исторические парки и&nbsp;скверы
			.testimonials__item
				svg.testimonials__icon
					use(xlink:href="#building")
				p.testimonials__text Полностью обустроенный
			.testimonials__item
				svg.testimonials__icon
					use(xlink:href="#fountain")
				p.testimonials__text 10&nbsp;фонтанов на&nbsp;территории
			.testimonials__item
				svg.testimonials__icon
					use(xlink:href="#bicycle")
				p.testimonials__text 6&nbsp;км <br> велодорожек