.contact {
	padding: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	.section__title {
		margin-bottom: 50px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__column {
		flex: 0 0 49%;
	}
	&__txt {
		@include font-source-sans(1rem, 1.5em);
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		&__input {
			margin-bottom: 35px;
			width: 47%;
			height: 50px;
			padding: 0.5em;
			background: rgba($color: $white, $alpha: .2);
			text-align: center;
			@include font-source-sans($fz, 1.93em);
			&::placeholder {
				color: #bebebe;
			}
			&:focus {
				color: $gold;
			}
		}
		&__txt {
			width: 47%;
			@include font-source-sans(0.8125rem, 1.23em);
		}
		&__btn {
			width: 47%;
			height: 50px;
			padding: 0.5em;
			background-color: $gold;
			@include font-source-sans(1rem, 1.6875em, 700);
		}
	}
}