.testimonials {
	width: 100%;
	padding: 120px 0;
	background-position: 95% center;
	background-size: auto;
	background-repeat: no-repeat;

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}
	&__item {
		// flex: 1 1 200px;
		width: 19%;
		& + & {
			margin-left: 70px;
		}
	}
	&__icon {
		margin-bottom: 53px;
		fill: $gold;
		display: block;
		height: 80px;
	}
	&__text {
		@include font-source-sans(1.25rem, 1.35em, 300);
	}
}