doctype html
html(lang="en")
	head
	include html/head
	body
		.wrapper
			include html/header
			//- Main
			main.page 
				include html/sprite
				include html/intro
				include html/testimonials
				include html/appartments
				include html/contact
				include html/video
				include html/maps
				include html/questions
			include html/footer
		script(src="js/app.min.js")
		//- Разобраться с отступами между секциями
		//- Доделать хвосты
		//- Улучшить сайт
		//- Добавить анимации
		//- Добавить видео
		//- Добавить маску для инпута и валидацию для форм
		//- Перевести единицы в относительные
		//- Сделать адаптив
		//- Доделать интро