$blue: #004dff;
$dark: #4a4863;
$grey: #b9beca;
$white: #ffffff;
$gold: #d4c17f;
$red: #ff2775;
// $main_color: #;
// $semi_color: #;
$fz: 0.875rem;
$font-primary: "Poppins", sans-serif;
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
/* 
accent 
adrk 242B33
BEBEBE
626262
E7E7E7
242B33
2D343C
C4C4C4
*/
// 	color: #fff; адаптировать, преоброзовать
